/* reaproveitando cards*/

.card-primary {
  height: 125px;
  width: 22%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  left: 0%;
  right: 0%;
}
/* reproveitando cards */
.card {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
  bottom: 79.01%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 143%;
  text-align: center;
  letter-spacing: 0.17px;
  color: #000000;
}

.card-total-pago {
  top: 25%;
  border-bottom: 4px solid #178d46;
  padding-bottom: 10px; /* opcional */
}
.valores1 {
  color: #178d46;
}
.valores2 {
  color: #ff0000;
}
.valores3 {
  color: #ffb800;
}
.card-total_a_pagar {
  top: 14%;
  border-bottom: 4px solid #ff0000;
  padding-bottom: 10px; /* opcional */
}

.card-atrasadas {
  position: relative;
  border-bottom: 4px solid#FFB800;
  padding-bottom: 10px; /* opcional */

  top: 10%;
}
/* responsividade  font , resolucao */

@media (max-width: 900px) {
  .card-total-pago h1 {
    font-size: 24px;
    color: #000000;
  }
  .card-total-pago {
    font-size: 25px;
    color: #000000;
  }
  .card-total_a_pagar h1 {
    font-size: 24px;
    color: #000000;
  }
  .card-total_a_pagar {
    font-size: 15px;
    color: #000000;
  }
  .card-atrasadas h1 {
    font-size: 24px;
    color: #000000;
  }
  .card-atrasadas {
    font-size: 25px;
    color: #000000;
  }
}
@media (min-width: 700px) {
  .card-total-pago h1 {
    font-size: 24px;
    color: #000000;
  }
  .card-total-pago {
    font-size: 36px;
    color: #000000;
  }
  .card-total_a_pagar h1 {
    font-size: 24px;
    color: #000000;
  }
  .card-total_a_pagar {
    font-size: 36px;
    color: #000000;
  }
  .card-atrasadas h1 {
    font-size: 24px;
    color: #000000;
  }
  .card-atrasadas {
    font-size: 36px;
    color: #000000;
  }
}
@media (max-width: 270px) {
  h1 {
    font-size: 24px;
   
    
  }
}

@media (max-width: 360px) {
 
  #menu header {
    width: 100%;
    
   
  }
  h1 {
    font-size: 10px;
    
  }
  .container-modal{
    margin-top: 30%;
    margin-left: 21%;
  }
  .container-btn{
    margin-right: 19.5%;
  }
  #pagina-despesas{
    margin-left: -18%;
    
  }
  .input-category{
    width: 250px;
  }
  .conteiner-categoria-prymary label{
    display: block;
    margin-bottom: -2%;
  }
  .card h1{
    font-size: 10px;

  }
  .card strong{
    font-size: 10px;
  }
  body{
    font-size: 10px;
  }
  .container-filtro{
    background-color:white;
    
  }
 
  #pendente{
    width: 80px;
    font-size: 8px;
    text-align:left;
  }
  .btn-cancelar{
    margin-top: 10%;
    width: 80px;
    font-size: 10px;
  }
  #filtro-despesas{
  width: 140px;
  }
  .modal-add-despesa {
   background-color: #178d46;
    
  }
  .input-category {
    height: 24px;
    width: 465px;
    left: 0px;
    top: 0px;
    margin-top: 2%;
    margin-left:5%;
  }
 #meuFormulario label{
  margin-left: 5%;

  }
  #input-filtrar{
    width: 220px;
  }
}