/* @import url("https://fonts.googleapis.com/css2?family= Roboto +Condensed & family= Roboto:wght@400;500;700 & display=swap"); */
html {
  overflow: hidden;
}
body {
  
  overflow: hidden;
  touch-action: none;
  margin: 0;
  padding: 1px;
  background-color: white;
}



h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 143%;
  letter-spacing: 0.17px;

  color: #2196f3;
}
header {
  overflow: hidden;
  background-color: #0acf83;
  height: 60px;
  width: 102%;
  left: 0px;
  top: 0px;
  margin-bottom: 2%;
  border-radius: 0px;
}
header strong {
  margin-left: 3%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.17px;
  text-decoration-line: underline;
  cursor: pointer;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}
#separator {
  width: 2px;
  height: 14px;
  left: 10%px;
  top: 5px;

  background: #e0e0e0;
}
input {
  outline: none;
}
#menu {
  display: flex;
  justify-content: flex-end;
}
.menu-nav {
  display: flex;
  margin-right: 25%;
  margin-top: 1%;
  gap: 25%;
}
/* ocultando as sections  */
.hidden {
  display: none;
}
/* reaproveitando nos botoes*/
.btn-primary {
  border-radius: 4px;
  padding: 8px 22px 8px 22px;
  background: #2196f3;
  border: solid 4px #2196f3;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;
}

/* botao adicionar despesas */
.btn-adicionar {
  position: absolute;
  margin-right: 2%;
  bottom: 70px;
  right: 0;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* conteudo */
#botao-adicionar-despesa {
  line-height: 26px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
}

.btn-filtrar:hover {
  outline: none; /* remove a borda padrão que aparece ao dar foco */
  box-shadow: 0 0 2px 2px #007bff; /* adiciona uma sombra para destacar o botão */
  cursor: pointer;
}
.btn-adicionar:hover {
  outline: none; /* remove a borda padrão que aparece ao dar foco */
  box-shadow: 0 0 2px 2px #007bff; /* adiciona uma sombra para destacar o botão */
  cursor: pointer;
}
.conteiner-categoria-prymary {
  /* reaproveitando  */
  display: block;
  width: 465px;
  height: 30px;
  margin-left: 18%;
  margin-top: 5%;
  width: 465.19px;
  height: 24px;

  /* components/input-text */

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.38);
  flex: none;
  order: 3;
  flex-grow: 1;
  z-index: 3;
}
/* reaproveitando   */
.input-border-white {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
/* reaproveitando   */
.input-category {
  height: 24px;
  width: 465px;
  left: 0px;
  top: 0px;
  margin-top: 2%;
  margin-left: 0%;
}
.tabela-categorias {
  top: 48px;
}

/* conteudo */
#botao-salvar-categoria {
  line-height: 26px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
}
/* botao cancelar categoria */
.btn-cancelar {
  border: solid 1px #d32f2f;
  background-color: #ffffff;
  line-height: 26px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
  color: #d32f2f;
}

.botao-cancelar-pagina {
  margin-left: 2%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  border-radius: 4px;
  padding: 8px 22px 8px 22px;
}
.btn-salvar:hover {
  outline: none; /* remove a borda padrão que aparece ao dar foco */
  box-shadow: 0 0 2px 2px #2196f3; /* adiciona uma sombra para destacar o botão */
  cursor: pointer;
}
.btn-cancelar:hover {
  outline: none; /* remove a borda padrão que aparece ao dar foco */
  box-shadow: 0 0 2px 2px #d32f2f; /* adiciona uma sombra para destacar o botão */
  cursor: pointer;
}
/* reaproveitando codigo */
.btn-Status {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  color: #ffffff;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.46000000834465027px;
  text-align: left;
}
#pendente {
  height: 45px;
  width: 120px;
  left: 6px;
  top: 64px;
  border-radius: 4px white;
  padding: 8px 22px 8px 22px;
  color: #ffffff;
  background: #ff0000;
  /* elevation/2 */
}
#pago {
  margin-left: 2%;
  margin-top: 2%;
  width: 80px;
  height: 40px;
  left: calc(50% - 56px / 2 - 72.5px);
  bottom: 221px;
  background: #178d46;
  /* elevation/2 */
}

.pago-linha {
  color: green;
  background: rgba(255, 255, 255, 0.002);
}

.pendente-linha {
  color: red;
  background: rgba(33, 150, 243, 0.04);
}

.container {
  margin-left: 33%;
  margin-top: 10%;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* .sucesso {
  background-color: green;
  color: white;
  text-align: center;
  width: 300px; */
  /* margin-top: 20%; */
  /* margin-left: 40%;
  border-radius: 4px ;
  max-width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s;
} */

/* .erro {
  background-color:red;
  color: white;
  text-align: center;
  width: 300px;
  margin-top: 25%;
  margin-left: 40%;
  border-radius: 4px ;
  max-width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s
 
} */

/* Adicione ao seu arquivo CSS */
div.erro {
  width: 500px;
  background-color: #ffaaaa;
  color: #aa0000;
  padding: 25px;
  margin: 10px;
  border-radius: 5px;
  transition: opacity 1s ease-in-out;
}

div.sucesso {
  width: 500px;
  background-color: #aaffaa;
  color: #00aa00;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  transition: opacity 1s ease-in-out;
}
