@import url("https://fonts.googleapis.com/css2?family= Roboto +Condensed & family= Roboto:wght@400;500;700 & display=swap");
html {
  overflow: hidden;
}
body {
  margin: 0;
  padding: 1px;
  background-color: #ddd;
}
h1 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 143%;
  letter-spacing: 0.17px;

  color: #2196f3;
}
header {
  overflow: hidden;
  background-color: #0acf83;
  height: 60px;
  width: 102%;
  left: 0px;
  top: 0px;
  margin-bottom: 2%;
  border-radius: 0px;
}
header div {
  margin-left: 3%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.17px;
  text-decoration-line: underline;
  cursor: pointer;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}
#separator {
  width: 2px;
  height: 14px;
  left: 10%px;
  top: 5px;

  background: #e0e0e0;
}
#menu {
  display: flex;
  justify-content: flex-end;
}
.menu-nav {
  display: flex;
  margin-right: 25%;
  margin-top: 1%;
  gap: 25%;
}
/* ocultando as sections  */
.hidden {
  display: none;
}
/* reaproveitando cards*/
.card-primary {
  height: 125px;
  width: 22%;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  left: 0%;
  right: 0%;
}
/* reproveitando cards */
.card {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 10px;
  bottom: 79.01%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 143%;

  text-align: center;
  letter-spacing: 0.17px;

  color: #000000;
}

.card-total-pago {
  top: 25%;
}
.card-total_a_pagar {
  top: 14%;
}

.card-atrasadas {
  position: relative;

  top: 10%;
}
/* responsividade  font , resolucao */
@media (max-width: 900px) {
  .card-total-pago h1 {
    font-size: 24px;
    color: #178d46;
  }
  .card-total-pago strong {
    font-size: 25px;
    color: #178d46;
  }
  .card-total_a_pagar h1 {
    font-size: 24px;
    color: #ff0000;
  }
  .card-total_a_pagar strong {
    font-size: 15px;
    color: #ff0000;
  }
  .card-atrasadas h1 {
    font-size: 24px;
    color: #ffb800;
  }
  .card-atrasadas strong {
    font-size: 25px;
    color: #ffb800;
  }
}
@media (min-width: 700px) {
  .card-total-pago h1 {
    font-size: 24px;
    color: #178d46;
  }
  .card-total-pago strong {
    font-size: 36px;
    color: #178d46;
  }
  .card-total_a_pagar h1 {
    font-size: 24px;
    color: #ff0000;
  }
  .card-total_a_pagar strong {
    font-size: 36px;
    color: #ff0000;
  }
  .card-atrasadas h1 {
    font-size: 24px;
    color: #ffb800;
  }
  .card-atrasadas strong {
    font-size: 36px;
    color: #ffb800;
  }
}
/* filtrar */
.container-filtrar {
  display: flex;
  align-items: center;
  margin-left: 20%;
  margin-top: 6%;
  margin-bottom: 2%;
}
.container-filtrar label {
  position: absolute;
  margin-bottom: 2%;
  width: 32px;
  height: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

  letter-spacing: 0.15px;

  color: rgba(0, 0, 0, 0.6);

  flex: none;
  order: 0;
  flex-grow: 0;
}
/* reaproveitando nos botoes*/
.btn-primary {
  border-radius: 4px;
  padding: 8px 22px 8px 22px;
  background: #2196f3;
  border: solid 4px #2196f3;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  color: #ffffff;

  flex: none;
  order: 1;
  flex-grow: 0;
}

/* * conteudo */
.btn-personalizacao-filtrar {
  letter-spacing: 0.46px;
  text-transform: uppercase;
}

/* botao filtrar */
.btn-filtrar {
  margin-left: 1%;

  height: 34px;
  width: 108px;
  left: 626px;
  top: 375px;
}

.input-filtrar {
  height: 22px;
  width: 451px;
  left: 0px;
  top: 0px;
  border-radius: nullpx;
  border-top: #ffff;
  border-right: #ffff;
  border-left: #ffff;
}

.tabela-controle-despesas table {
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
}

table {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;

  width: auto;
  height: 56px;

  background: #f3f6f9;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
th {
  width: 281px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  letter-spacing: 0.25px;

  color: rgba(0, 0, 0, 0.87);

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* botao adicionar despesas */
.btn-adicionar {
  position: absolute;
  margin-right: 14%;
  bottom: 70px;

  right: 0;

  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* conteudo */
#personalizacao-botao-adicionar {
  line-height: 26px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
}

.btn-filtrar:hover {
  outline: none; /* remove a borda padrão que aparece ao dar foco */
  box-shadow: 0 0 2px 2px #007bff; /* adiciona uma sombra para destacar o botão */
  cursor: pointer;
}
.btn-adicionar:hover {
  outline: none; /* remove a borda padrão que aparece ao dar foco */
  box-shadow: 0 0 2px 2px #007bff; /* adiciona uma sombra para destacar o botão */
  cursor: pointer;
}
/* inicio da pagina de categorias */
.modal-add-despesa {
  position: absolute;
  width: 764px;
  height: 611px;
  margin-top: 90px;

  left: calc(50% - 764px / 2 - 1px);
  top: calc(50% - 611px / 2 - 55px);

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.container-modal div {
  display: block;
}

.container-modal h1 {
  white-space: nowrap;
  width: 239px;
  height: 34px;
  margin-left: 25%;
  margin-bottom: 50px;

  /* or 34px */

  letter-spacing: 0.17px;
}
/* reaproveitando  */
.conteiner-categoria-prymary {
  display: block;
  width: 465.19px;
  height: 24px;
  margin-left: 18%;
  margin-top: 5%;
}
/* reaproveitando   */
.input-border-white {
  border-top: 1px solid #fff;
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
}
/* reaproveitando   */
.input-category {
  height: 24px;
  width: 480px;
  left: 0px;
  top: 0px;
  border-radius: nullpx;
  margin-top: 2%;
  margin-left: 0%;
}
.tabela-categorias {
  top: 48px;
}

.btn-salvar {
  margin-left: 33%;
  margin-top: 10%;

  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px rgba(0, 0, 0, 0.14), 0px 1px 5px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
/* conteudo */
#btn-personalizao-salvar {
  line-height: 26px;
  letter-spacing: 0.46px;
  text-transform: uppercase;
}
/* botao cancelar categoria */
.btn-cancelar {
  border: solid 1px #d32f2f;
  background-color: #ffffff;

  line-height: 26px;

  letter-spacing: 0.46px;
  text-transform: uppercase;

  color: #d32f2f;
}
#btn-personalizacao-cancelar {
  margin: 3%;
}
.btn-salvar:hover {
  outline: none; /* remove a borda padrão que aparece ao dar foco */
  box-shadow: 0 0 2px 2px #2196f3; /* adiciona uma sombra para destacar o botão */
  cursor: pointer;
}
.btn-cancelar:hover {
  outline: none; /* remove a borda padrão que aparece ao dar foco */
  box-shadow: 0 0 2px 2px #d32f2f; /* adiciona uma sombra para destacar o botão */
  cursor: pointer;
}

/* INICIO modal de categorias */
.modal-categorias {
  position: absolute;
  width: 764px;
  height: 275px;
  left: calc(50% - 764px / 2);
  top: calc(50% - 275px / 2 - 223px);
  margin-top: 5%;

  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}
.adicionar-categorias {
  margin-left: 8%;
}
