.tabela-controle-despesas table {
  display: table;
  justify-content: space-between;
  margin-left: 2px;
}

.thead {
  margin-left: 10%;
}

table {
  margin: auto;

  

  width: 60%;
  height: 56px;

  background: #f3f4f6;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

  th {
 
  width: 820px;
  height: 50px;
  background: #F3F4F6;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 250%;

  letter-spacing: 0.25px;

  color: rgba(0, 0, 0, 0.87);

  flex: none;
  order: 0;
  flex-grow: 0;
}
td {
  
    text-align: center;
  
  
 
  line-height: 250%;
  height: 52px;
  padding:4px 8px;
  margin-top: 50%;
  
  
  
  
}
